waiting-ride-process-api/src/main/mule/waiting-ride-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <!-- GET /api/status - Get waiting/ETA status -->
    <flow name="get-status-flow">
        <http:listener config-ref="http-listener-config" path="/api/status" method="GET" />
        <logger level="INFO" message="get-status-flow - Getting ride waiting status" />
        <set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
        <set-variable variableName="rideId" value="#[attributes.queryParams.rideId]" />
        <!-- Get ride details from DB -->
        <http:request config-ref="database-system-api" method="GET" path="#['/ride/' ++ vars.rideId]">
            <http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId}]]]></http:headers>
        </http:request>
        <error-handler>
            <on-error-propagate type="HTTP:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Ride not found"}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- PUT /api/arrived - Driver signals arrival -->
    <flow name="put-arrived-flow">
        <http:listener config-ref="http-listener-config" path="/api/arrived" method="PUT" />
        <logger level="INFO" message="put-arrived-flow - Driver arrived at pickup" />
        <set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
        <set-variable variableName="arrivalPayload" value="#[payload]" />
        <!-- Update ride status -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{status: "WAITING_FOR_PASSANGER"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="database-system-api" method="PATCH" path="#['/ride/' ++ vars.arrivalPayload.rideId]">
            <http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId, 'Content-Type': 'application/json'}]]]></http:headers>
        </http:request>
        <set-variable variableName="rideResponse" value="#[payload]" />
        <!-- Notify passenger -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{userId: vars.arrivalPayload.passengerId, title: "Driver Arrived", message: "Your driver has arrived at the pickup location!", rideId: vars.arrivalPayload.rideId}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="push-notifications-system-api" method="POST" path="/notify">
            <http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId, 'Content-Type': 'application/json'}]]]></http:headers>
        </http:request>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.rideResponse]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <error-handler>
            <on-error-propagate type="ANY">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Arrival update failed: " ++ (error.description default "unknown error")}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
</mule>
