finish-ride-process-api/src/main/mule/finish-ride-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <!-- POST /api/finish - Complete ride and trigger payment -->
    <flow name="post-finish-flow">
        <http:listener config-ref="http-listener-config" path="/api/finish" allowedMethods="POST" />
        <logger level="INFO" message="post-finish-flow - Finishing ride" />
        <set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
        <set-variable variableName="finishPayload" value="#[payload]" />
        <!-- Step 1: Update ride status to FINISHED -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{status: "FINISHED"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="database-system-api" method="PATCH" path="#['/ride/' ++ vars.finishPayload.rideId]">
            <http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId, 'Content-Type': 'application/json'}]]]></http:headers>
        </http:request>
        <set-variable variableName="rideResponse" value="#[payload]" />
        <!-- Step 2: Confirm payment via Square -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{orderId: vars.finishPayload.orderId, state: "COMPLETED"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="square-system-api" method="PUT" path="#['/orders/' ++ vars.finishPayload.orderId]">
            <http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId, 'Content-Type': 'application/json'}]]]></http:headers>
        </http:request>
        <!-- Step 3: Send ride summary email -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{to: vars.finishPayload.passengerEmail, subject: "Ride Summary", template: "ride-summary", data: {rideId: vars.finishPayload.rideId}}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="email-system-api" method="POST" path="/send">
            <http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId, 'Content-Type': 'application/json'}]]]></http:headers>
        </http:request>
        <!-- Step 4: Sync to Salesforce -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{rideId: vars.finishPayload.rideId, status: "FINISHED", fare: vars.finishPayload.fare default 0}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="salesforce-system-api" method="POST" path="/rides">
            <http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId, 'Content-Type': 'application/json'}]]]></http:headers>
        </http:request>
        <!-- Return response -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.rideResponse]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <error-handler>
            <on-error-propagate type="ANY">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Finish ride failed: " ++ (error.description default "unknown error")}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
</mule>
