driver-availability-process-api/src/main/mule/driver-availability-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <!-- PATCH /api/drivers/{id}/status - Toggle driver online/offline -->
    <flow name="patch-drivers-status-flow">
        <http:listener config-ref="http-listener-config" path="/api/drivers/{id}/status" allowedMethods="PATCH" />
        <logger level="INFO" message="patch-drivers-status-flow - Updating driver availability" />
        <set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
        <set-variable variableName="driverId" value="#[attributes.uriParams.id]" />
        <set-variable variableName="statusPayload" value="#[payload]" />
        <!-- Validate driver exists and get current status -->
        <http:request config-ref="database-system-api" method="GET" path="#['/drivers/' ++ vars.driverId]">
            <http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId}]]]></http:headers>
        </http:request>
        <set-variable variableName="driverInfo" value="#[payload]" />
        <!-- Update driver availability status -->
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{availabilityStatus: vars.statusPayload.status}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <http:request config-ref="database-system-api" method="PATCH" path="#['/drivers/' ++ vars.driverId]">
            <http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId, 'Content-Type': 'application/json'}]]]></http:headers>
        </http:request>
        <error-handler>
            <on-error-propagate type="HTTP:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Driver not found"}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="ANY">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Status update failed: " ++ (error.description default "unknown error")}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
</mule>
