ridexpress-experience-api/src/main/mule/auth.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="post:\auth\login:router">
		<logger level="INFO" message="post:\auth\login:router - Authenticating user" />
		<set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
		<http:request config-ref="user-sign-up-process-api" method="POST" path="/auth/authenticate" doc:name="Call user-sign-up-process-api POST /auth/authenticate">
			<http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId}]]]></http:headers>
		</http:request>
		<error-handler>
			<on-error-propagate type="HTTP:UNAUTHORIZED" doc:name="Handle 401">
				<ee:transform doc:name="Set 401 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Invalid credentials"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">401</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="HTTP:CONNECTIVITY" doc:name="Handle connectivity error">
				<ee:transform doc:name="Set 503 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Service unavailable - authentication service unreachable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">503</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

	<flow name="post:\auth\token\refresh:router">
		<logger level="INFO" message="post:\auth\token\refresh:router - Refreshing access token" />
		<set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
		<http:request config-ref="user-sign-up-process-api" method="POST" path="/auth/token/refresh" doc:name="Call user-sign-up-process-api POST /auth/token/refresh">
			<http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId}]]]></http:headers>
		</http:request>
		<error-handler>
			<on-error-propagate type="HTTP:UNAUTHORIZED" doc:name="Handle 401">
				<ee:transform doc:name="Set 401 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Invalid or expired refresh token"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">401</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="HTTP:CONNECTIVITY" doc:name="Handle connectivity error">
				<ee:transform doc:name="Set 503 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Service unavailable - authentication service unreachable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">503</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

	<flow name="post:\auth\reset-password:router">
		<logger level="INFO" message="post:\auth\reset-password:router - Triggering password reset" />
		<set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
		<http:request config-ref="user-sign-up-process-api" method="POST" path="/auth/reset-password" doc:name="Call user-sign-up-process-api POST /auth/reset-password">
			<http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Set 200 response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Password reset email sent"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-propagate type="HTTP:NOT_FOUND" doc:name="Handle 404">
				<ee:transform doc:name="Set 404 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "User not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="HTTP:CONNECTIVITY" doc:name="Handle connectivity error">
				<ee:transform doc:name="Set 503 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Service unavailable - authentication service unreachable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">503</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

</mule>
