ridexpress-experience-api/src/main/mule/drivers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="patch:\drivers\(id)\status:router">
		<ee:transform doc:name="Extract URI params">
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" message="#[output application/json --- {priority: 'INFO', correlationId: correlationId, timestamp: now() as String, message: 'patch:\drivers\(id)\status:router - Updating driver status', applicationName: 'ridexpress-experience-api', applicationVersion: '1.0.0-SNAPSHOT'}]" />
		<set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
		<http:request config-ref="http-request-driver-availability-process-api-config" method="PATCH" path="#['/drivers/' ++ vars.id ++ '/status']" doc:name="Call driver-availability-process-api PATCH /drivers/{id}/status">
			<http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId}]]]></http:headers>
		</http:request>
		<error-handler>
			<on-error-propagate type="HTTP:NOT_FOUND" doc:name="Handle 404">
				<ee:transform doc:name="Set 404 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Driver not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="HTTP:CONNECTIVITY" doc:name="Handle connectivity error">
				<ee:transform doc:name="Set 503 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Service unavailable - driver availability process API unreachable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">503</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

	<flow name="post:\drivers\(id)\location:router">
		<ee:transform doc:name="Extract URI params">
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" message="#[output application/json --- {priority: 'INFO', correlationId: correlationId, timestamp: now() as String, message: 'post:\drivers\(id)\location:router - Broadcasting driver location', applicationName: 'ridexpress-experience-api', applicationVersion: '1.0.0-SNAPSHOT'}]" />
		<set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
		<http:request config-ref="http-request-database-system-api-config" method="POST" path="#['/users/' ++ vars.id ++ '/location']" doc:name="Call database-system-api POST /users/{id}/location">
			<http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId}]]]></http:headers>
		</http:request>
		<error-handler>
			<on-error-propagate type="HTTP:NOT_FOUND" doc:name="Handle 404">
				<ee:transform doc:name="Set 404 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Driver not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="HTTP:CONNECTIVITY" doc:name="Handle connectivity error">
				<ee:transform doc:name="Set 503 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Service unavailable - database system API unreachable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">503</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

	<flow name="post:\drivers\(id)\vehicle:router">
		<ee:transform doc:name="Extract URI params">
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" message="#[output application/json --- {priority: 'INFO', correlationId: correlationId, timestamp: now() as String, message: 'post:\drivers\(id)\vehicle:router - Registering driver vehicle', applicationName: 'ridexpress-experience-api', applicationVersion: '1.0.0-SNAPSHOT'}]" />
		<set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
		<http:request config-ref="http-request-user-sign-up-process-api-config" method="POST" path="#['/drivers/' ++ vars.id ++ '/vehicle']" doc:name="Call user-sign-up-process-api POST /drivers/{id}/vehicle">
			<http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Set 201 status">
			<ee:variables>
				<ee:set-variable variableName="httpStatus">201</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<error-handler>
			<on-error-propagate type="HTTP:NOT_FOUND" doc:name="Handle 404">
				<ee:transform doc:name="Set 404 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Driver not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="HTTP:CONNECTIVITY" doc:name="Handle connectivity error">
				<ee:transform doc:name="Set 503 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Service unavailable - user sign-up process API unreachable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">503</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

	<flow name="post:\drivers\(id)\documents:router">
		<ee:transform doc:name="Extract URI params">
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" message="#[output application/json --- {priority: 'INFO', correlationId: correlationId, timestamp: now() as String, message: 'post:\drivers\(id)\documents:router - Uploading driver documents', applicationName: 'ridexpress-experience-api', applicationVersion: '1.0.0-SNAPSHOT'}]" />
		<set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
		<http:request config-ref="http-request-user-sign-up-process-api-config" method="POST" path="#['/drivers/' ++ vars.id ++ '/documents']" doc:name="Call user-sign-up-process-api POST /drivers/{id}/documents">
			<http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Set 201 status">
			<ee:variables>
				<ee:set-variable variableName="httpStatus">201</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<error-handler>
			<on-error-propagate type="HTTP:NOT_FOUND" doc:name="Handle 404">
				<ee:transform doc:name="Set 404 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Driver not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="HTTP:CONNECTIVITY" doc:name="Handle connectivity error">
				<ee:transform doc:name="Set 503 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Service unavailable - user sign-up process API unreachable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">503</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

	<flow name="post:\drivers\(id)\banking:router">
		<ee:transform doc:name="Extract URI params">
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" message="#[output application/json --- {priority: 'INFO', correlationId: correlationId, timestamp: now() as String, message: 'post:\drivers\(id)\banking:router - Registering driver banking info', applicationName: 'ridexpress-experience-api', applicationVersion: '1.0.0-SNAPSHOT'}]" />
		<set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
		<http:request config-ref="http-request-user-sign-up-process-api-config" method="POST" path="#['/drivers/' ++ vars.id ++ '/banking']" doc:name="Call user-sign-up-process-api POST /drivers/{id}/banking">
			<http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Set 201 status">
			<ee:variables>
				<ee:set-variable variableName="httpStatus">201</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<error-handler>
			<on-error-propagate type="HTTP:NOT_FOUND" doc:name="Handle 404">
				<ee:transform doc:name="Set 404 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Driver not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="HTTP:CONNECTIVITY" doc:name="Handle connectivity error">
				<ee:transform doc:name="Set 503 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Service unavailable - user sign-up process API unreachable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">503</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

</mule>
