ridexpress-experience-api/src/main/mule/geolocations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="get:\geolocations:router">
		<logger level="INFO" message="#[output application/json --- {priority: 'INFO', correlationId: correlationId, timestamp: now() as String, message: 'get:\geolocations:router - Searching locations', applicationName: 'ridexpress-experience-api', applicationVersion: '1.0.0-SNAPSHOT'}]" />
		<set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
		<http:request config-ref="http-request-google-maps-config" method="GET" path="/place/textsearch/json" doc:name="Call Google Maps text search">
			<http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId}]]]></http:headers>
			<http:query-params><![CDATA[#[{query: attributes.queryParams.search, key: p('googlemaps.key')}]]]></http:query-params>
		</http:request>
		<error-handler>
			<on-error-propagate type="HTTP:CONNECTIVITY" doc:name="Handle connectivity error">
				<ee:transform doc:name="Set 503 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Service unavailable - Google Maps API unreachable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">503</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

	<flow name="get:\geolocations\(id):router">
		<ee:transform doc:name="Extract URI params">
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" message="#[output application/json --- {priority: 'INFO', correlationId: correlationId, timestamp: now() as String, message: 'get:\geolocations\(id):router - Getting place details', applicationName: 'ridexpress-experience-api', applicationVersion: '1.0.0-SNAPSHOT'}]" />
		<set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
		<http:request config-ref="http-request-google-maps-config" method="GET" path="/place/details/json" doc:name="Call Google Maps place details">
			<http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId}]]]></http:headers>
			<http:query-params><![CDATA[#[{place_id: vars.id, key: p('googlemaps.key')}]]]></http:query-params>
		</http:request>
		<error-handler>
			<on-error-propagate type="HTTP:NOT_FOUND" doc:name="Handle 404">
				<ee:transform doc:name="Set 404 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Location not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="HTTP:CONNECTIVITY" doc:name="Handle connectivity error">
				<ee:transform doc:name="Set 503 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Service unavailable - Google Maps API unreachable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">503</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>

