ridexpress-experience-api/src/main/mule/support.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<flow name="post:\support\tickets:router">
		<logger level="INFO" message="post:\support\tickets:router - Creating support ticket" />
		<set-variable variableName="transactionId" value="#[attributes.headers.'X-Transaction-Id' default uuid()]" />
		<http:request config-ref="salesforce-system-api" method="POST" path="/cases" doc:name="Call salesforce-system-api POST /cases">
			<http:headers><![CDATA[#[{'X-Transaction-Id': vars.transactionId}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Set 201 status">
			<ee:variables>
				<ee:set-variable variableName="httpStatus">201</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<error-handler>
			<on-error-propagate type="HTTP:BAD_REQUEST" doc:name="Handle 400">
				<ee:transform doc:name="Set 400 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request: " ++ (error.description default "invalid input")}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="HTTP:CONNECTIVITY" doc:name="Handle connectivity error">
				<ee:transform doc:name="Set 503 response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Service unavailable - Salesforce system API unreachable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">503</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

</mule>
