email-system-api/src/main/mule/email-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="post-send-flow">
        <http:listener config-ref="http-listener-config" path="/api/send" allowedMethods="POST" />
        <logger level="INFO" message="#['post-send-flow - Sending email to: ' ++ (payload.to default 'unknown')]" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "sent",
    messageId: uuid(),
    to: payload.to,
    subject: payload.subject
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
